# Relatório: Análise de Dados do INEP

## Introdução

Nesse trabalho desenvolvido para o curso de Álgebra Linear, encontraremos um modelo linear para as notas do IDEB de cada unidade federativa brasileira. Em seguida, será analisado se o modelo é devidamente ajustado aos dados, utilizando $R^{2}$.  Assim, poderá ser analisado quais estados tiveram maiores taxas de crescimento na educação. Ao fazer a regressão linear para encontrar tal modelo, utilizaremos o Método dos Mínimos Quadrados(MMQ), que explicaremos adiante, desenvolvido pelo famoso matemático Carl Friedrich Gauss, em 1795.

Sobre os métodos que serão utilizados:

Ao fazermos a regressão linear, encontraremos um modelo da forma $b_i =Dt_i+C$, onde $b_i$ será a nota em função de $t_i$, o ano. Tendo os pontos $(t_i,b_i)$, a solução utilizando mínimos quadrados, técnica de otimização para obter o melhor ajuste de dados ao minimizar a soma dos erros quadrados(SEQ), sendo erro=e, é dada por:
$$e=\displaystyle\sum_{i=1}^{n} (y(t_i)-b_i)^{2}=\displaystyle\sum_{i=1}^{n} (C+ Dt_i-b_i)^{2}$$

Sendo: $A=\begin{bmatrix}
1 & t_1\\
\vdots & \vdots \\
1 & t_n
\end{bmatrix}$ $b=\begin{bmatrix}
b_1\\
\vdots\\
b_n
\end{bmatrix}$ $\hat x=\begin{bmatrix}
C\\
D
\end{bmatrix}$

$e=\|Ax-b||^{2}\Rightarrow$
 $\hat x = (A^{T}A)^{-1}A^{T}b\Rightarrow A^{T}A\hat x =A^{T}b$

$A^{T}A = \begin{bmatrix}
    m & \displaystyle\sum_{i=1}^{n} t_i\\
    \displaystyle\sum_{i=1}^{n} t_i & \displaystyle\sum_{i=1}^{n} t_i^{2}
    \end{bmatrix}$

$A^{T}b=\begin{bmatrix}
    \displaystyle\sum_{i=1}^{n} b_i\\
    \displaystyle\sum_{i=1}^{n} t_ib_i
    \end{bmatrix} $

## Análise dos Dados

### Importando bibliotecas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

In [4]:
params = {'legend.fontsize': 20,
          'figure.figsize': (20, 15),
         'axes.labelsize': 20,
         'axes.titlesize':20,
         'xtick.labelsize':20,
         'ytick.labelsize':20}

plt.style.use('ggplot')
    
plt.rcParams.update(params)

### Coletando os dados

In [13]:
data = pd.read_excel('ideb.xlsx').dropna()
data = data.groupby(by=["Estado"])
print(data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F59083F520>

In [6]:
data.describe()

              Ano       Valor
count   216.00000  216.000000
mean   2012.00000    4.831944
std       4.59322    0.940088
min    2005.00000    2.700000
25%    2008.50000    4.100000
50%    2012.00000    4.900000
75%    2015.50000    5.600000
max    2019.00000    6.700000

In [ ]:
Valor = data['Valor'].values.group
Ano = data['Ano'].values

In [14]:
plt.figure()
plt.scatter(Ano, Valor)
plt.xlabel('Ano')
plt.ylabel('Valor')

NameError: name 'Ano' is not defined